In [1]:
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt

In [2]:
def extract_sample(patient_path):
    patient_dataframe = pd.read_csv(patient_path, sep='|')
    if len(patient_dataframe[patient_dataframe.SepsisLabel == 1]) == 0:
        label = 0
    else:
        label = 1
        label_row = patient_dataframe[patient_dataframe.SepsisLabel == 1].index[0]
        patient_dataframe = patient_dataframe.iloc[:label_row + 1]

    # patient_dataframe = patient_dataframe.fillna(patient_dataframe.mean(numeric_only=True).round(1),inplace=False)
    # patient_dataframe = patient_dataframe.fillna(0, inplace=False)
    patient_dataframe = patient_dataframe.drop(columns=['SepsisLabel'], inplace=False)
    return patient_dataframe, label

In [3]:
def calc_class_balance(ds_path):
    files_paths = glob(f'{ds_path}/**.psv')
    zero_counter = 0
    one_counter = 0
    for sample_path in files_paths:
        sample_df, sample_label = extract_sample(sample_path)
        if sample_label == 0:
            zero_counter+=1
        else:
            one_counter+=1

    zero_class_percentage = zero_counter / (zero_counter+one_counter)
    one_class_percentage = one_counter / (zero_counter+one_counter)
    return zero_class_percentage, one_class_percentage

In [4]:
def plot_class_percentages(*numbers):
    assert len(numbers) == 2, 'Please provide two classes'
    # Define the labels for x-axis
    labels = ['Class 1', 'Class 2']

    # Create a bar chart
    plt.bar(labels, numbers)

    # Add a title to the chart
    plt.title('Class balance')

    # Add labels to the axes
    plt.xlabel('Classes')
    plt.ylabel('Percentage')

    # Add numbers above the bars
    for i in range(len(numbers)):
        plt.text(i, numbers[i], numbers[i], ha='center')

    # Show the chart
    plt.show()

In [18]:
train_path = 'original_data/train'
# train_zero_class_per, train_one_class_per = calc_class_balance(train_path)
# plot_class_percentages(train_zero_class_per, train_one_class_per)

In [7]:
test_path = 'original_data/test'
# test_zero_class_per, test_one_class_per = calc_class_balance(test_path)
# plot_class_percentages(test_zero_class_per, test_one_class_per)

In [13]:

def calc_nulls_percentage(ds_path):
    files_paths = glob(f'{ds_path}/**.psv')
    zero_counter = 0
    one_counter = 0
    for idx, sample_path in enumerate(files_paths):
        if idx %1000 == 0:
            print(f'{idx}/{len(files_paths)}')
        sample_df, sample_label = extract_sample(sample_path)
        if sample_label == 0:
            zero_counter+=1
        else:
            one_counter+=1
        if idx == 0:
            total_df = sample_df
        else:
            total_df = pd.concat([total_df, sample_df], axis=0)

    print(sample_df.isnull().sum() * 100 / len(sample_df))

In [42]:
# calc_nulls_percentage(train_path)
# calc_nulls_percentage(train_path)
one_hundred_precent_null_test = ['EtCO2', 'AST', 'Alkalinephos', 'Bilirubin_direct', 'Bilirubin_total', 'TroponinI', 'Fibrinogen', 'Unit1', 'Unit2']
one_hundred_precent_null_train = ['EtCO2', 'BaseExcess', 'FiO2', 'pH', 'PaCO2', 'SaO2','AST','Alkalinephos', 'Bilirubin_direct', 'Bilirubin_total', 'TroponinI', 'Fibrinogen', 'Unit1', 'Unit2']

In [48]:
one_hundred_precent_null_train.extend(one_hundred_precent_null_test)
list(set(one_hundred_precent_null_train))

['Alkalinephos',
 'PaCO2',
 'FiO2',
 'Bilirubin_total',
 'BaseExcess',
 'SaO2',
 'pH',
 'AST',
 'TroponinI',
 'Bilirubin_direct',
 'Fibrinogen',
 'Unit1',
 'Unit2',
 'EtCO2']

In [16]:
sample_df, sample_label = extract_sample('original_data/test/patient_5.psv')
sample_df.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.58,1,1,0,-22.28,1
1,77.0,95.0,NaN,122.0,82.0,NaN,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.58,1,1,0,-22.28,2
2,85.0,100.0,35.89,127.0,85.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.58,1,1,0,-22.28,3
3,80.0,95.0,NaN,117.0,82.0,NaN,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.58,1,1,0,-22.28,4
4,71.0,96.0,NaN,118.0,79.0,NaN,18.0,NaN,NaN,23.0,...,NaN,5.5,NaN,137.0,35.58,1,1,0,-22.28,5